In [9]:
import os
import pandas as pd

In [2]:
os.pardir?

In [11]:
root_dir = os.path.join(os.getcwd(), os.pardir, os.pardir)
data_dir = os.path.join(root_dir, 'data')
raw_data_dir = os.path.join(data_dir, 'raw')
interim_data_dir = os.path.join(data_dir, 'interim')

In [12]:
gender_age_train = pd.read_csv(os.path.join(raw_data_dir, 'gender_age_train.csv'))

In [15]:
gender_age_train.groupby('group').count()

        device_id  gender   age
group
F23-         5050    5050  5050
F24-26       4190    4190  4190
F27-28       3118    3118  3118
F29-32       4628    4628  4628
F33-42       5561    5561  5561
F43+         4194    4194  4194
M22-         7488    7488  7488
M23-26       9605    9605  9605
M27-28       5445    5445  5445
M29-31       7309    7309  7309
M32-38       9476    9476  9476
M39+         8581    8581  8581

Class sizes are within a factor of 2-3 of each other.  More males than females.

In [16]:
gender_age_train.groupby('gender').count()

        device_id    age  group
gender
F           26741  26741  26741
M           47904  47904  47904

Almost double the number of males.

In [17]:
47904 / 26741.

1.7914064545080588

In [18]:
label_categories = pd.read_csv(os.path.join(raw_data_dir, 'label_categories.csv'))

In [26]:
label_categories.tail()

     label_id             category
925      1017  Heritage Foundation
926      1018       Direct Banking
927      1019  Internet Securities
928      1020     Bank Credit Card
929      1021   Internet Insurance

In [20]:
app_labels = pd.read_csv(os.path.join(raw_data_dir, 'app_labels.csv'))

In [25]:
app_labels.tail()

                     app_id  label_id
459938  8899923330228547048       932
459939  8906927134640865376       932
459940  9180397886043162136       932
459941  9204453858293451002       932
459942 -3820274685127793704      1018

In [22]:
phone_brand_device_model = pd.read_csv(os.path.join(raw_data_dir, 'phone_brand_device_model.csv'))

In [24]:
phone_brand_device_model.tail()

                  device_id phone_brand device_model
187240  7979541072208733273          小米         MI 4
187241  -187404680852357705          小米          红米2
187242 -2718274279595622821          小米         MI 3
187243  3098391762071677791        vivo           X1
187244  7540390258631417003        vivo         Y22L

In [27]:
events = pd.read_csv(os.path.join(raw_data_dir, 'events.csv'))

In [29]:
events.tail()

,event_id,device_id,timestamp,longitude,latitude
3252945,3252946,-8995272658520685777,2016-05-07 23:14:17,0.00,0.00
3252946,3252947,6790350461641275817,2016-05-07 23:14:08,120.65,27.78
3252947,3252948,7111660304904287709,2016-05-07 23:35:33,121.40,31.18
3252948,3252949,2786044170600788970,2016-05-07 23:36:03,111.19,31.29
3252949,3252950,3315513013457872370,2016-05-07 23:20:08,112.99,28.23

In [30]:
events['device_id'].unique().size

60865

60,865 unique devices having 3.25 million events.

In [31]:
phone_brand_device_model['device_id'].unique().size

186716

In [32]:
phone_brand_device_model['device_model'].unique().size

1599

186,000 unique phone devices (combination of brand and model).  So about 1 out of 3 devices have event data.

In [33]:
app_events = pd.read_csv(os.path.join(raw_data_dir, 'app_events.csv'))

In [37]:
app_events.groupby('is_installed').count()

              event_id    app_id  is_active
is_installed
1             32473067  32473067   32473067

Ok, so we could drop the `is_installed` column.

In [39]:
app_events['event_id'].unique().size

1488096

1,480,000 unique event ids.  Compared to 3,250,000 events in the event id table.  So, about 2 million events are not present in `app_events`.

In [43]:
app_events['app_id'].unique().size

19237

Only 19237 unique app ids.

In [44]:
app_labels['app_id'].unique().size

113211

113,000 unique app ids in `app_labels`, meaning that about 93,000 app ids don't appear in `app_events`.

In [46]:
app_events.groupby('is_active').count()

           event_id    app_id  is_installed
is_active
0          19740071  19740071      19740071
1          12732996  12732996      12732996